
header.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
.form-control {
    border: 1px solid #C7C6C8;
    border-radius: 4px;
    padding: 10px 12px;
    font-size: 14px;
    line-height: 20px;
    color: #1D1C21;
}

.app-how {
    padding-top: 72px;
    background-color: #fff;
    .title-h2 {
        text-align: center;
    }
}
.main-cover {
    padding-top: 80px;
    padding-bottom: 80px;
    .title-wrapper {
        margin-top: 0;
    }
}
.pdf-item canvas {
    max-width: 100%;
}
body.d-scroll {
    height: auto;
    overflow: hidden;
}

.step-text {
    font-size: 14px;
    line-height: 20px;
    color: #32343E;
    /* display: inline-block; */
}

.step {
    display: grid;
    gap: 8px;
    flex-direction: row;
    grid-template-columns: 24px auto;
    padding-bottom: 24px;
}
.step:last-child {
    padding-bottom: 0;
}
.app-how {
    .img {
        margin-top: 32px;
    }
    img {
        width: 100%;
    }
    .content {
        padding-bottom: 56px;
        margin-top: 1rem;
    }
}

.list-product {
    background-color: #fff;
    padding-bottom: 56px;
    .title-h2 {
        text-align: center;
        padding-top: 56px;
        display: block;
    }
    
}
.product-category {
    margin-top: 32px;
    
}
.products {
    margin-bottom: 0;
    li a {
        border-radius: 4px;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 6px;
        gap: 8px;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #1D1C21;
        &:hover {
            background: #EDEDED;
        }
    }
}
.products-title {
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #6A696C;
}

.add-number {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 32px;
    .position {
        width: 106px;
    }

    .page-margin {
        width: calc(100% - 138px);
    }
}
.page-radio {
    width: 106px;
    height: 128px;
    border: 1px solid #AEADAF;
    border-radius: 4px;
    position: relative;
    padding: 7px;
    .page-radio-input {
        height: 24px;
        --bs-gutter-x: 7px;
    }
    .input-checkbox {
        height: 24px;
    }
}
.input-checkbox {
    .circle {
        width: 24px;
        height: 24px;
        background: #FFFFFF;
        border: 1px solid #AEADAF;
        border-radius: 50%;
    }
    input[type=radio]:checked + label .circle {
        background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='23' height='23' rx='11.5' fill='%236D18DC'/%3E%3Crect x='0.5' y='0.5' width='23' height='23' rx='11.5' stroke='%236D18DC'/%3E%3Cg clip-path='url(%23clip0_134_2376)'%3E%3Cpath d='M17 8.40039L10.125 15.2754L7 12.1504' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_134_2376'%3E%3Crect width='16' height='16' fill='white' transform='translate(4 4)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E") center no-repeat;
        border: none;
    }

}
.position-line {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 9px;
    width: 86px;
    height: 43px;
    margin: 10px 0;
    > * {
        width: 86px;
        height: 4px;
        background: #EDEDED;
    }
}

.input-about {
    margin-top: 6px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #77777A;
}
.add-image {
    display: flex;
    gap: 8px;
    input {
        display: none;
    }
    .label-upload {
        padding: 8px 16px 8px 12px;
        gap: 4px;
        border-radius: 4px;
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        width: auto!important;
    }
    .drop-area {
        justify-content: flex-start;
    }
    img {
        height: 36px;
        border-radius: 4px;
    }

}
.watermark-tabs {
    .add-image {
        display: none;
    }
    &.logoimg-tabs {
        .add-image {
            display: flex;
        }
        .add-text {
            display: none;
        }
    }
}
.font-settings {
    padding: 12px;
    gap: 8px;
    background: #EDEDED;
    border-radius: 4px;
    margin-top: 8px;
    .form-select {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #1D1C21;
    }
} 
.font-family {
    display: flex;
    align-items: center;
    gap: 12px;
    span {
        font-weight: 700;
        font-size: 12px;
        line-height: 16px;
        color: #1D1C21;
    }
}
.font-size {
    display: flex;
    align-items: center;
    gap: 8px;
    .svg {
        width: 24px;
        height: 24px;
    }
}

.font-style {
    display: flex;
    margin-top: 8px;
    .fontstyle-item {
        gap: 8px;
        width: 36px;
        height: 36px;
        padding: 0;
        border: 1px solid #C7C6C8;
        border-left: unset;
        overflow: hidden;
        input + label {
            background-color: unset;
            padding: 0;
            border-radius: unset;
            box-shadow: unset;
            margin: 0;
            width: 36px;
            height: 36px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: unset;
            background: #fff;
        }
        &:first-child {
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
            border-left: 1px solid #C7C6C8;
        }
        &:last-child {
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
        }
        &:hover {
            input + label {
                background: #EDEDED;
            }
            path {
                fill: #515054;
            }
        }
    }
    input:checked + label {
        background: #F0E8FC;
        path {
            fill: #6D18DC;
        }
    }
    
}
.fontstyle-item {
    &.select-color {
        position: relative;
        &.is-active {
            label {
                background: #F0E8FC;
            }
            path {
                fill: #6D18DC;
            }
        }
    }
}
.select-color .hide-input {
    left: 28px;
    top: 28px;
    opacity: 0;
}


.settings {
    &.settings-show {
        top: unset;
        height: auto;
        .setting-header {
            display: none;
        }
        .setting-footer {
            position: unset;
        }
    }
}

.settings.settings-show .setting-footer {
    position: unset;
}
.input-password {
    position: relative;
    .eye-slash {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 8px;
        background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.01662 11.1645C4.06662 6.79251 8.02127 4.5 11.9831 4.5C16.6362 4.5 20.6443 7.53129 23.0091 11.1836L23.0102 11.1853C23.1667 11.4285 23.2499 11.7115 23.2499 12.0007C23.2499 12.2893 23.167 12.5719 23.0111 12.8147C20.6483 16.5141 16.6661 19.5 11.9831 19.5C7.25032 19.5 3.34483 16.5203 0.987915 12.8317C0.827766 12.583 0.744702 12.2925 0.749197 11.9968C0.753702 11.7002 0.845999 11.4117 1.01443 11.1676L1.01662 11.1645ZM2.24903 12.0196L2.25111 12.0228C4.42804 15.4304 7.91716 18 11.9831 18C16.0036 18 19.5679 15.4195 21.7474 12.0065L21.7489 12.0043C21.7495 12.0032 21.7499 12.002 21.7499 12.0007C21.7499 12.0002 21.7498 11.9996 21.7497 11.9991C21.7496 11.9985 21.7493 11.9979 21.749 11.9973C19.5611 8.61915 15.9676 6 11.9831 6C8.63897 6 5.09927 7.93555 2.24903 12.0196ZM11.9991 9C10.3422 9 8.99907 10.3431 8.99907 12C8.99907 13.6569 10.3422 15 11.9991 15C13.6559 15 14.9991 13.6569 14.9991 12C14.9991 10.3431 13.6559 9 11.9991 9ZM7.49907 12C7.49907 9.51472 9.51379 7.5 11.9991 7.5C14.4844 7.5 16.4991 9.51472 16.4991 12C16.4991 14.4853 14.4844 16.5 11.9991 16.5C9.51379 16.5 7.49907 14.4853 7.49907 12Z' fill='%23373737'/%3E%3C/svg%3E%0A");
        width: 24px;
        height: 24px;
        &.eye-hidden {
            background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.2496 20.9996C20.1511 20.9998 20.0535 20.9805 19.9625 20.9427C19.8715 20.905 19.7889 20.8496 19.7194 20.7798L3.21944 4.27979C3.08472 4.138 3.01073 3.94918 3.01323 3.75361C3.01574 3.55804 3.09454 3.37118 3.23284 3.23288C3.37114 3.09458 3.558 3.01578 3.75357 3.01328C3.94914 3.01077 4.13795 3.08477 4.27975 3.21948L20.7797 19.7195C20.8846 19.8244 20.9559 19.958 20.9849 20.1034C21.0138 20.2489 20.9989 20.3996 20.9422 20.5366C20.8854 20.6736 20.7894 20.7907 20.6661 20.8731C20.5428 20.9555 20.3979 20.9996 20.2496 20.9996Z' fill='%23373737'/%3E%3Cpath d='M11.9837 17.9996C10.0388 17.9996 8.16334 17.424 6.40928 16.2887C4.81225 15.2574 3.37459 13.7804 2.25147 12.0231V12.0193C3.18615 10.6801 4.2099 9.54761 5.30959 8.63448C5.31954 8.62616 5.32765 8.61587 5.33342 8.60426C5.33919 8.59265 5.34249 8.57997 5.3431 8.56701C5.34372 8.55406 5.34165 8.54112 5.33701 8.52901C5.33237 8.51691 5.32527 8.50589 5.31615 8.49667L4.3824 7.56432C4.36581 7.54759 4.34353 7.53773 4.31999 7.53668C4.29645 7.53564 4.27338 7.5435 4.25537 7.5587C3.08725 8.54307 2.00303 9.75057 1.01725 11.1643C0.847647 11.4077 0.754242 11.6961 0.7489 11.9927C0.743558 12.2894 0.826522 12.5809 0.987248 12.8303C2.22522 14.7676 3.8185 16.3993 5.59412 17.5482C7.59334 18.8434 9.74491 19.4996 11.9837 19.4996C13.1921 19.4959 14.3919 19.2967 15.5368 18.9099C15.5519 18.9048 15.5654 18.8959 15.5761 18.8841C15.5868 18.8723 15.5944 18.8579 15.598 18.8424C15.6016 18.8269 15.6012 18.8107 15.5968 18.7953C15.5924 18.78 15.5842 18.7661 15.5729 18.7548L14.5613 17.7432C14.538 17.7205 14.5092 17.7042 14.4778 17.696C14.4463 17.6878 14.4132 17.6879 14.3818 17.6964C13.5984 17.8981 12.7926 18 11.9837 17.9996Z' fill='%23373737'/%3E%3Cpath d='M23.0077 11.184C21.7674 9.26589 20.1582 7.63651 18.3544 6.47167C16.359 5.18167 14.1558 4.49964 11.9837 4.49964C10.788 4.50176 9.60132 4.70507 8.47319 5.10104C8.45816 5.10627 8.4447 5.11524 8.4341 5.12711C8.42349 5.13898 8.41608 5.15335 8.41256 5.16887C8.40905 5.18439 8.40954 5.20055 8.41399 5.21583C8.41845 5.23111 8.42672 5.245 8.43803 5.2562L9.44819 6.26636C9.4717 6.28947 9.5009 6.30598 9.53283 6.31421C9.56476 6.32244 9.5983 6.3221 9.63006 6.31323C10.3974 6.10566 11.1887 6.00022 11.9837 5.99964C13.891 5.99964 15.7608 6.58229 17.5407 7.73401C19.1677 8.78401 20.6222 10.2596 21.7482 11.9996C21.749 12.0007 21.7495 12.002 21.7495 12.0034C21.7495 12.0047 21.749 12.0061 21.7482 12.0071C20.9309 13.2938 19.9167 14.4442 18.7426 15.4164C18.7325 15.4246 18.7243 15.4349 18.7184 15.4466C18.7126 15.4582 18.7092 15.4709 18.7086 15.4839C18.7079 15.497 18.7099 15.51 18.7146 15.5221C18.7192 15.5343 18.7264 15.5454 18.7355 15.5546L19.6683 16.487C19.6849 16.5036 19.707 16.5135 19.7304 16.5146C19.7539 16.5158 19.7769 16.5081 19.7949 16.4931C21.0483 15.4377 22.1333 14.1971 23.0124 12.8143C23.1678 12.5706 23.2499 12.2875 23.2491 11.9985C23.2483 11.7095 23.1645 11.4268 23.0077 11.184Z' fill='%23373737'/%3E%3Cpath d='M11.9996 7.49964C11.6625 7.49945 11.3265 7.53719 10.9979 7.61214C10.9813 7.61558 10.9659 7.62347 10.9534 7.63495C10.941 7.64643 10.9318 7.66108 10.927 7.67733C10.9222 7.69359 10.9219 7.71084 10.9261 7.72726C10.9304 7.74368 10.9389 7.75865 10.951 7.77057L16.2287 13.0468C16.2406 13.0589 16.2555 13.0675 16.272 13.0717C16.2884 13.0759 16.3056 13.0756 16.3219 13.0708C16.3382 13.066 16.3528 13.0568 16.3643 13.0444C16.3758 13.0319 16.3836 13.0165 16.3871 12.9999C16.5374 12.3409 16.5372 11.6565 16.3867 10.9975C16.2361 10.3385 15.9391 9.72191 15.5176 9.19348C15.096 8.66505 14.5609 8.23837 13.9519 7.94513C13.3428 7.65189 12.6755 7.49962 11.9996 7.49964Z' fill='%23373737'/%3E%3Cpath d='M7.77053 10.9524C7.75861 10.9404 7.74364 10.9318 7.72722 10.9276C7.7108 10.9234 7.69354 10.9237 7.67729 10.9285C7.66103 10.9333 7.64638 10.9424 7.6349 10.9549C7.62342 10.9674 7.61554 10.9827 7.61209 10.9993C7.4421 11.742 7.46344 12.5157 7.67413 13.2478C7.88481 13.98 8.27794 14.6467 8.81666 15.1854C9.35539 15.7241 10.0221 16.1172 10.7542 16.3279C11.4864 16.5386 12.2601 16.5599 13.0027 16.3899C13.0193 16.3865 13.0347 16.3786 13.0471 16.3671C13.0596 16.3557 13.0687 16.341 13.0736 16.3248C13.0784 16.3085 13.0787 16.2912 13.0745 16.2748C13.0702 16.2584 13.0616 16.2434 13.0496 16.2315L7.77053 10.9524Z' fill='%23373737'/%3E%3C/svg%3E%0A");
        }
    }
}
.input-box {
    width: 100%;
}
.error-input {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #D71919;
    margin-top: 6px;
}
.rotate-setting {
    display: flex;
    gap: 8px;
}
.btn {
    &.btn-rotate {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 8px 12px 8px 8px;
        gap: 8px;
        background: #EDEDED;
        border-radius: 4px;
    }
}
.opacity-setting {
    display: grid;
    grid-template-columns: auto 86px;
    align-items: center;
    gap: 16px;
    .input-group-text {
        background: unset;
        padding: 0;
        padding-right: .75rem;
    }
    .opacity-input {
        padding-right: 0;
        border-right: 0;
    }
}
.form-check-input {
    width: 20px;
    height: 20px;
    &:checked {
        background: #FFFFFF;
        border: 1px solid #6D18DC;
        width: 20px;
        height: 20px;
    }
    &:checked[type=radio] {
        background: url("data:image/svg+xml,%0A%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='12' height='12' rx='6' fill='%236D18DC'/%3E%3C/svg%3E%0A") center no-repeat;
    }
}
.form-check-label {
    font-weight: 700;
    font-size: 14px;
    line-height: 30px;
    color: #1D1C21;
}
.radiosl-title {
    font-size: 14px;
    line-height: 20px;
    color: #1D1C21;
}
.alert-svg {
    margin-right: 8px;
}

.info-export .alert {
    padding: 8px;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #00398F;
}

@media (max-width: 991px) {
    .setting-main {
        height: calc(100% - 160px);
        overflow-y: scroll;
    }
}

@media (min-width: 992px) {
    .settings {
        &.settings-show {
            top: 0;
            height: 100%;
            .setting-header {
                display: flex;
            }
            .setting-footer {
                position: absolute;
            }
        }
    }
}

@media (min-width: 768px) {
    
    .apphow-box {
        display: grid;
        grid-template-columns: 312px auto;
        gap: 1rem;
        align-items: center;
        margin-top: 24px;
        padding-bottom: 72px;
        .img {
            width: 312px;
            margin-top: 0;
        }
    }
    .app-how {
        .content {
            padding-bottom: 0;
            margin-top: 0;
            height: fit-content;
        }
    }
    .list-product {
        padding-bottom: 80px;
        .title-h2 {
            margin-top: 80px;
            margin-bottom: 12px;
        }
    } 
}
@media (min-width: 1200px) {
    .product-category {
        flex: 0 0 auto;
        width: 20%;
    }
}
