
header.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
.app-how {
    padding-top: 72px;
    background-color: #fff;
    .title-h2 {
        text-align: center;
    }
}
.main-cover {
    padding-top: 80px;
    padding-bottom: 80px;
    .title-wrapper {
        margin-top: 0;
    }
}
.pdf-item canvas {
    max-width: 100%;
}
body.d-scroll {
    height: auto;
    overflow: hidden;
}

.step-text {
    font-size: 14px;
    line-height: 20px;
    color: #32343E;
    /* display: inline-block; */
}

.step {
    display: grid;
    gap: 8px;
    flex-direction: row;
    grid-template-columns: 24px auto;
    padding-bottom: 24px;
}
.step:last-child {
    padding-bottom: 0;
}
.app-how {
    .img {
        margin-top: 32px;
    }
    img {
        width: 100%;
    }
    .content {
        padding-bottom: 56px;
        margin-top: 1rem;
    }
}

.list-product {
    background-color: #fff;
    padding-bottom: 56px;
    .title-h2 {
        text-align: center;
        padding-top: 56px;
        display: block;
    }
    
}
.product-category {
    margin-top: 32px;
    
}
.products {
    margin-bottom: 0;
    li a {
        border-radius: 4px;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 6px;
        gap: 8px;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #1D1C21;
        &:hover {
            background: #EDEDED;
        }
    }
}
.products-title {
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #6A696C;
}

.add-number {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 32px;
    .position {
        width: 106px;
    }

    .page-margin {
        width: calc(100% - 138px);
    }
}
.page-radio {
    width: 106px;
    height: 128px;
    border: 1px solid #AEADAF;
    border-radius: 4px;
    position: relative;
    padding: 7px;
    .page-radio-input {
        height: 24px;
        --bs-gutter-x: 7px;
    }
    .input-checkbox {
        height: 24px;
    }
}
.input-checkbox {
    .circle {
        width: 24px;
        height: 24px;
        background: #FFFFFF;
        border: 1px solid #AEADAF;
        border-radius: 50%;
    }
    input[type=radio]:checked + label .circle {
        background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='23' height='23' rx='11.5' fill='%236D18DC'/%3E%3Crect x='0.5' y='0.5' width='23' height='23' rx='11.5' stroke='%236D18DC'/%3E%3Cg clip-path='url(%23clip0_134_2376)'%3E%3Cpath d='M17 8.40039L10.125 15.2754L7 12.1504' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_134_2376'%3E%3Crect width='16' height='16' fill='white' transform='translate(4 4)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E") center no-repeat;
        border: none;
    }

}
.position-line {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 9px;
    width: 86px;
    height: 43px;
    margin: 10px 0;
    > * {
        width: 86px;
        height: 4px;
        background: #EDEDED;
    }
}

.input-about {
    margin-top: 6px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #77777A;
}

@media (min-width: 768px) {
    
    .apphow-box {
        display: grid;
        grid-template-columns: 312px auto;
        gap: 1rem;
        align-items: center;
        margin-top: 24px;
        padding-bottom: 72px;
        .img {
            width: 312px;
            margin-top: 0;
        }
    }
    .app-how {
        .content {
            padding-bottom: 0;
            margin-top: 0;
            height: fit-content;
        }
    }
    .list-product {
        padding-bottom: 80px;
        .title-h2 {
            margin-top: 80px;
            margin-bottom: 12px;
        }
    } 
}
@media (min-width: 1200px) {
    .product-category {
        flex: 0 0 auto;
        width: 20%;
    }
}
