@import url(https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700&display=swap);
*, ::after, ::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

blockquote, body, dd, dl, figure, h1, h2, h3, h4, p {
  margin: 0;
}

ol[role=list], ul[role=list] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  text-rendering: optimizeSpeed;
  font-family: 'Plus Jakarta Sans';
  background: #F6F6F6;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
}

img, picture {
  max-width: 100%;
  display: block;
}

button, input, select, textarea {
  font: inherit;
}

.dm-uploader {
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.dm-uploader .btn {
  position: relative;
  overflow: hidden;
}

.dm-uploader .btn input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  border: solid transparent;
  width: 100%;
  opacity: 0;
  cursor: pointer;
}

h3 {
  font-size: 1.5rem;
}

header.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar {
  background-color: #fff;
  padding: 0;
  border-bottom: 1px solid #E1E2E3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navbar .container-fluid {
  padding-top: 12px;
  padding-bottom: 12px;
}

.navbar .container-fluid > * {
  padding-top: 0;
  padding-bottom: 0;
}

.navbar .container-fluid .navbar-toggler {
  border: none;
  padding-right: 0;
  padding-left: 0;
}

.navbar .container-fluid .navbar-toggler:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.navbar .navbar-brand {
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .navbar-brand svg {
  height: 32px;
}

.navbar .nav-link {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #363539;
}

.navbar .dropdown-toggle::after {
  border: unset !important;
  background: url("data:image/svg+xml,%0A%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 6.39999L8 10.4L12 6.39999' stroke='%23363539' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") center no-repeat;
  width: 20px;
  height: 20px;
}

.navbar .dropdown-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .dropdown-toggle svg {
  margin-right: 8px;
}

.home-hero {
  background: #F1EBF7;
  padding-bottom: 16px;
}

.home-hero .hero-title {
  padding-top: 32px;
  padding-bottom: 76px;
  text-align: center;
}

.title {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #1D1C21;
}

.subtitle {
  margin-top: 12px;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #464549;
}

.tool-item svg, .tool-item img {
  height: 48px;
}

.tool-info {
  margin-top: 10px;
}

.tool-info .tool-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.tool-info .tool-desc {
  margin-top: 6px;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #464549;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.steps-box {
  margin-top: 56px;
}

.steps-box .title-h2 {
  text-align: center;
}

.steps-box .steps {
  padding-bottom: 56px;
}

.step-number {
  width: 24px;
  height: 24px;
  background: #6D18DC;
  border-radius: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.step-item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 32px auto;
      grid-template-columns: 32px auto;
  margin-top: 32px;
}

.step-item .step-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #212B39;
}

.step-item .step-content {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #32343E;
  margin-top: 10px;
  display: block;
}

.title-h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #1D1C21;
}

.features {
  background-color: #fff;
}

.btn.btn-pri {
  background: #6D18DC;
  -webkit-box-shadow: 0px 4px 8px rgba(64, 15, 127, 0.26);
          box-shadow: 0px 4px 8px rgba(64, 15, 127, 0.26);
  border-radius: 8px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 24px 12px 24px;
  border: none;
}

.desc-content {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #252638;
}

.features-box .title-h2 {
  margin-top: 8px;
}

.features-box .feature-item {
  padding-top: 40px;
}

.features-box .feature-item img {
  max-width: 100%;
}

.features-box .title-h2 {
  margin-top: 8px;
}

.features-box .desc-content {
  margin-top: 12px;
}

.features-box .btn.btn-pri {
  margin-top: 32px;
}

.features-box {
  padding-bottom: 64px;
}

.why-icon {
  width: 56px;
  height: 56px;
  background: #F0E8FC;
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px;
}

.title-h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #1D1C21;
}

.why-choose .title-h2 {
  margin-top: 64px;
  text-align: center;
}

.why-choose .desc-content {
  margin-top: 8px;
}

.why-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  margin-top: 48px;
}

.whys {
  padding-bottom: 64px;
}

footer {
  background: #1D1C21;
  color: #939294;
}

.footer-left {
  text-align: center;
  padding-top: 40px;
}

.footer-slogan {
  font-size: 16px;
  line-height: 24px;
  margin-top: 8px;
}

.footer-right {
  margin-top: 40px;
}

.footer-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.footer-link ul li a {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #AEADAF;
  display: block;
  margin-top: 8px;
}

.footer-container {
  padding-bottom: 40px;
}

.copyright-link ul {
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 32px;
}

.copyright-link ul li a {
  display: inline-block;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #AEADAF;
  text-align: center;
}

.copyright-text {
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #AEADAF;
  padding-bottom: 1rem;
}

.copyright {
  padding-top: 16px;
  border-top: 1px solid #ffffff26;
}

@media (min-width: 768px) {
  .steps-box {
    margin-top: 64px;
  }
  .steps-box .steps {
    margin-bottom: 80px;
  }
  .title-h2 {
    font-size: 32px;
    line-height: 44px;
  }
  .title-h3 {
    font-size: 20px;
    line-height: 28px;
  }
  .step-item {
    margin-top: 40px;
  }
  .feature-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    --bs-gutter-x: 80px;
    --bs-gutter-y: 0;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
  }
  .feature-item > * {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 50%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
  }
  .feature-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .features-box {
    padding-top: 48px;
  }
  .features-box .title-h2 {
    margin-top: 0;
  }
  .features-box .feature-item {
    padding-top: 24px;
  }
  .features-box .desc-content {
    margin-top: 24px;
  }
  .features-box .btn.btn-pri {
    margin-top: 40px;
  }
  .desc-content {
    font-size: 16px;
    line-height: 24px;
  }
  .feature-item.feature-reverse img {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .whys {
    --bs-gutter-x: 72px;
    --bs-gutter-y: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
  }
  .whys > * {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 33.33333333%;
  }
  .why-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 48px;
  }
  .why-choose .title-h2 {
    margin-bottom: 24px;
    margin-top: 78px;
  }
  .whys {
    margin-bottom: 68px;
  }
  .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer-link {
    width: 200px;
  }
  .footer-left {
    text-align: left;
  }
  .copyright .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .copyright .container .copyright-text {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .copyright .container .copyright-link {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.p-c {
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
}

.hide-input {
  width: 0;
  height: 0;
  position: absolute;
  left: -9999px;
}

.border-none {
  border: none !important;
}

.tools_container.row {
  --bs-gutter-x: 1px;
  --bs-gutter-y: 1px;
  -webkit-filter: drop-shadow(0px 2px 12px rgba(0, 0, 0, 0.06));
          filter: drop-shadow(0px 2px 12px rgba(0, 0, 0, 0.06));
  border-radius: 6px;
  overflow: hidden;
  margin-top: calc((-1 * var(--bs-gutter-y)) - 48px);
}

.tools_container.row .tool-box {
  background-color: #fff;
  padding: 16px;
  height: 100%;
}

.converter {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1055;
  width: 100%;
  height: calc(100% - 57px);
  display: none;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
  width: 100%;
  background-color: #F6F6F6;
}

.upload-more {
  margin: 24px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn-upload-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 40px;
  height: 40px;
  padding: 8px;
  gap: 8px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12), 0px 4px 12px rgba(30, 33, 59, 0.16);
          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12), 0px 4px 12px rgba(30, 33, 59, 0.16);
  border-radius: 24px;
  cursor: pointer;
}

.btn.btn-drag {
  padding: 0;
  position: absolute;
  top: 0.5rem;
  left: .75rem;
  width: 22px;
  height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
}

.progress-bar {
  background: #0AC672;
  border-radius: 100px 0px 0px 100px;
  width: 10%;
  height: 4px;
  -webkit-transition: width .6s ease;
  transition: width .6s ease;
  margin-top: 24px;
  margin-bottom: 12px;
}

.progress-bar.progress-success {
  background-color: #fff;
  overflow: hidden;
}

.progress-bar-animated {
  -webkit-animation: progress-bar-stripes 1s linear infinite;
  animation: progress-bar-stripes 1s linear infinite;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: none;
          animation-fill-mode: none;
  -webkit-animation-play-state: running;
          animation-play-state: running;
  -webkit-animation-name: progress-bar-stripes;
          animation-name: progress-bar-stripes;
}

@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 4 0;
  }
  to {
    background-position: 0 0;
  }
}

@keyframes progress-bar-stripes {
  from {
    background-position: 4 0;
  }
  to {
    background-position: 0 0;
  }
}

.title-wrapper {
  margin-top: 24px;
}

.title-wrapper .title-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 8px;
  gap: 8px;
}

.title-wrapper .title-page .page-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #1D1C21;
}

.title-wrapper .page-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #5F5E61;
  margin-top: 1rem;
}

.only-pc {
  display: none;
}

.converter-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  pointer-events: auto;
  max-height: 100%;
  overflow: hidden;
  height: 100%;
}

.converter-content .converter-body {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  overflow-y: auto;
}

.converter-content .converter-footer {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-right: auto;
  margin-left: auto;
}

.converter-content .converter-footer .convert-now {
  margin-top: 16px;
  margin-bottom: 16px;
}

.converter-body {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-.5 * var(--bs-gutter-x));
  margin-left: calc(-.5 * var(--bs-gutter-x));
}

.converter-body > * {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-top: var(--bs-gutter-y);
}

.converter-body .converter-container {
  margin: 0 auto;
}

.settings {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #fff;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  z-index: 1095;
  display: none;
}

.settings.show {
  display: block;
}

.settings .setting-footer {
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-top: var(--bs-gutter-y);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.setting-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  padding: 16px 0;
  border-bottom: 1px solid #E2E1E2;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.setting-header .btn-close {
  background: #E2E1E2;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  gap: 0;
  width: 28px;
  height: 28px;
  opacity: .8;
}

.settings-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #1D1C21;
}

.radio-toggle {
  padding-bottom: 20px;
  border-bottom: 1px solid #EDEDED;
}

.radio-toggle.radio-toggle-img input + label {
  font-size: 12px;
  line-height: 18px;
}

.radio-toggle.radio-toggle-img input:checked + label {
  font-size: 12px;
  font-weight: 700;
}

.radio-toggle .label-name {
  margin-top: 8px;
}

.radio-toggle input + label {
  text-align: center;
  background: #FFFFFF;
  border: 1px solid #E2E1E2;
  -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  padding: 16px 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #515054;
  width: 100%;
}

.radio-toggle input:checked + label {
  background: #F0E8FC;
  border: 1px solid #6D18DC;
  font-weight: 700;
  font-size: 14px;
  color: #6D18DC;
}

.radio-toggle input:checked + label rect {
  stroke: #6D18DC;
}

.radio-toggle input:checked + label path {
  fill: #6D18DC;
}

.radio-toggle .row {
  --bs-gutter-x: 8px;
}

.setting-checkbox label {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #363539;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2px 0px;
  gap: 6px;
}

.setting-checkbox input[type=checkbox]:checked + label .circle {
  background: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='20' height='20' rx='2' fill='%236D18DC'/%3E%3Cpath d='M15.3333 6L7.99996 13.3333L4.66663 10' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") center no-repeat;
}

.setting-checkbox .circle {
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border: 1px solid #AEAEB6;
  border-radius: 2px;
}

.setting-box {
  padding-bottom: 20px;
  border-bottom: 1px solid #EDEDED;
}

.setting-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #1D1C21;
  margin-bottom: 12px;
}

.radio .radio-item {
  border-bottom: 1px solid #EDEDED;
}

.radio label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px calc(var(--bs-gutter-x) * .5);
  gap: 8px;
}

.radio .label-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #1D1C21;
}

.radio .label-subtitle {
  font-size: 14px;
  line-height: 20px;
  color: #6A696C;
}

.radio .circle {
  width: 24px;
  height: 24px;
  background: #FFFFFF;
  border: 1px solid #AEAEB6;
  border-radius: 50%;
}

.radio input[type=radio]:checked + label .circle {
  background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='23' height='23' rx='11.5' fill='%236D18DC'/%3E%3Crect x='0.5' y='0.5' width='23' height='23' rx='11.5' stroke='%236D18DC'/%3E%3Cg clip-path='url(%23clip0_134_2376)'%3E%3Cpath d='M17 8.40039L10.125 15.2754L7 12.1504' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_134_2376'%3E%3Crect width='16' height='16' fill='white' transform='translate(4 4)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E") center no-repeat;
  border: none;
}

.radio input[type=radio]:checked + label {
  background-color: #FAFAFB;
}

@media (min-width: 992px) {
  .converter {
    height: calc(100% - 61px);
  }
  .only-pc {
    display: block;
  }
  .converter-content {
    height: 100%;
  }
  .converter-body {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
  }
  .converter-body > * {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
  }
  .converter-body .converter-main {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: calc(100% - 320px);
  }
  .converter-footer {
    display: none;
  }
  .settings {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 320px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
    padding-left: 0;
    -webkit-box-shadow: -2px 0px 8px #00000014;
            box-shadow: -2px 0px 8px #00000014;
  }
  .settings .setting-main {
    height: inherit;
  }
  .settings .setting-footer {
    position: unset;
  }
  .settings .setting-footer .btn-convert {
    width: 100% !important;
  }
  .setting-header .btn-close {
    display: none;
  }
}

.btn.btn-settings {
  height: 56px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 26px 8px 8px;
  gap: 8px;
  top: 64px;
  right: 0;
  background: #FFFFFF;
  -webkit-box-shadow: -2px 2px 12px rgba(0, 0, 0, 0.12);
          box-shadow: -2px 2px 12px rgba(0, 0, 0, 0.12);
  border-radius: 32px 0px 0px 32px;
  z-index: 1000;
}

.handle-upload {
  margin-top: 24px;
  display: none !important;
}

.handle-upload.active {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

@-webkit-keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

.upload-box {
  margin-top: 32px;
}

.upload-box input {
  display: none;
}

.active {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-animation: slidein 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: slidein 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.disabled {
  display: none !important;
  -webkit-animation: slidein 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: slidein 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.adload {
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-top: 1rem;
}

.adload img {
  max-width: 100%;
}

.label-upload {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 8px;
  gap: 8px;
  background: #6D18DC;
  -webkit-box-shadow: 0px 4px 8px rgba(64, 15, 127, 0.26);
          box-shadow: 0px 4px 8px rgba(64, 15, 127, 0.26);
  border-radius: 8px;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  /* Foundation /White/W50 */
  color: #FFFFFF;
}

.btn.btn-convert {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 8px;
  background: #6D18DC;
  -webkit-box-shadow: 0px 4px 8px rgba(64, 15, 127, 0.26);
          box-shadow: 0px 4px 8px rgba(64, 15, 127, 0.26);
  border-radius: 8px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #fff;
  line-height: 28px;
}

.btn.btn-convert.active, .btn.btn-convert.show, .btn.btn-convert:first-child:active {
  color: var(--bs-btn-hover-color);
  background-color: #610cd0;
}

.btn.btn-convert svg {
  margin-left: 8px;
}

.pdf-items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 8px 8px;
  max-width: 100%;
}

.pdf-item, .preview-file {
  position: relative;
  background: #FFFFFF;
  border-radius: 8px;
  width: 100%;
  max-width: 100%;
  padding-left: 12px;
  padding-right: 12px;
  overflow: hidden;
}

.pdf-item .file-info, .preview-file .file-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px;
  gap: 8px;
  padding-top: 32px;
  overflow: hidden;
}

.pdf-item .file-info.uploading, .preview-file .file-info.uploading {
  opacity: .4;
}

.pdf-item .file-info svg, .preview-file .file-info svg {
  margin-top: 8px;
}

.pdf-item .file-info .pdf-filename, .preview-file .file-info .pdf-filename {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #363539;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  max-width: 100%;
}

.pdf-item .file-info .pdf-file-size, .preview-file .file-info .pdf-file-size {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #6A696C;
}

.item-del {
  position: absolute;
  top: .5rem;
  right: .5rem;
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  padding: 2px;
  gap: 8px;
  background: #E2E1E2;
  cursor: pointer;
  display: none;
}

.pdf-item:hover .item-del {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item-del:hover {
  background-color: #c7c7c7;
}

.download-wrapper {
  display: none;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
}

.download-wrapper.active {
  display: block !important;
}

.preview-download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 26px;
}

.preview-download .preview-file {
  width: 167px;
  height: 194px;
}

.justify-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.task-processing {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 8px;
  margin-top: 48px;
}

.task-processing .processing-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #1D1C21;
  margin-top: 16px;
}

.task-processing span {
  margin-top: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #77777A;
}

.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-spinner div {
  -webkit-transform-origin: 40px 40px;
          transform-origin: 40px 40px;
  -webkit-animation: lds-spinner 1.2s linear infinite;
          animation: lds-spinner 1.2s linear infinite;
}

.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 4px;
  height: 18px;
  border-radius: 20%;
  background: #580cbb;
}

.lds-spinner div:nth-child(1) {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s;
}

.lds-spinner div:nth-child(2) {
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}

.lds-spinner div:nth-child(3) {
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s;
}

.lds-spinner div:nth-child(4) {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
}

.lds-spinner div:nth-child(5) {
  -webkit-transform: rotate(120deg);
          transform: rotate(120deg);
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s;
}

.lds-spinner div:nth-child(6) {
  -webkit-transform: rotate(150deg);
          transform: rotate(150deg);
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
}

.lds-spinner div:nth-child(7) {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}

.lds-spinner div:nth-child(8) {
  -webkit-transform: rotate(210deg);
          transform: rotate(210deg);
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}

.lds-spinner div:nth-child(9) {
  -webkit-transform: rotate(240deg);
          transform: rotate(240deg);
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}

.lds-spinner div:nth-child(10) {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
}

.lds-spinner div:nth-child(11) {
  -webkit-transform: rotate(300deg);
          transform: rotate(300deg);
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s;
}

.lds-spinner div:nth-child(12) {
  -webkit-transform: rotate(330deg);
          transform: rotate(330deg);
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

@-webkit-keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media (min-width: 576px) {
  .converter-container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .converter-container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .converter-container {
    max-width: 960px;
  }
  .navbar .dropdown-menu.nav-lang[data-bs-popper] {
    left: unset;
    right: 0;
  }
  .navbar .nav-link {
    text-align: center;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 18px;
    padding-right: 18px;
  }
  .nav-link.nav-langs {
    padding-right: 0 !important;
  }
  .label-upload, .btn-convert {
    width: 368px !important;
  }
  .drop-area {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .pdf-items {
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
  }
  .btn.btn-settings {
    display: none;
  }
}

@media (min-width: 1200px) {
  .converter-container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .converter-container {
    max-width: 1320px;
  }
}
/*# sourceMappingURL=style.css.map */