@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: 'Inter', sans-serif;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
    text-decoration: none;
    color: #000;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.hero {
    text-align: center;
    background: #195FD7;
    color: #fff;
    padding-bottom: 16px;
    .title {
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        padding-top: 42px;
    }
    .subtitle {
        margin-top: 8px;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
    }
}
@media (min-width: 768px) {
    .hero {
        padding-bottom: 2rem;
        .title {
            padding-top: 56px;
        }
    }

}

.apps {
    margin-bottom: 1rem;
}